/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


/* COLOR PALETTE */
/* rgba(255,255,255,.75) Grey */
/*  rgb(25,25,25) Dark Grey */



/* SECTION 1 -- INTRO PAGE + ANIMATION */
/* Debut of Narrative - AI greets user story point. */
/* Animation Code help from Stackoverflow https://stackoverflow.com/questions/57982722/make-blinking-cursor-disappear-at-end-of-css-animation */



/* Global */
html{
    min-height: 100%;
    overflow: hidden;
  }
  body{
    min-height: 100%;
   /*  height: calc(100vh - 8em); */
    padding: 4em;
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;  
    background-color: rgb(25,25,25);  
    /* OVERFLOW X HIDDEN SO I CAN TRANSLATE OFF PAGE */
    overflow-x: hidden;
  }

  /* Element Styles */

  .typewriter1 p {
      overflow: hidden;
      border-right: 2px solid transparent;
      white-space: nowrap;
      margin: 0 auto;
      font-size: 180%;
      text-align: center;
      letter-spacing: 0;
      padding-left: 10px;
      animation: typing 3.5s steps(44, end), blink-caret .75s step-end 4.1;
      }
      
      .typewriter2 p {
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: 2px solid transparent;
        white-space: nowrap;
        margin: 0 auto;
        font-size: 180%;
        text-align: center;
        letter-spacing: 0;
        padding-left: 10px;
        opacity: 0;
        animation: typing 3.5s steps(44, end), blink-caret .75s step-end 4.1, slidein 1s ease 3.5s forwards;
        animation-delay: 2s;
      }
      .typewriter3 p {
          overflow: hidden;
          /* Ensures the content is not revealed until the animation */
          border-right: 2px solid transparent;
          white-space: nowrap;
          margin: 0 auto;
          font-size: 180%;
          text-align: center;
          letter-spacing: 0;
          padding-left: 10px;
          opacity: 0;
          animation: typing 3.5s steps(44, end), blink-caret .75s step-end /* add infinite for continuous blinking animation */, slidein 1s ease 3.5s forwards;
          animation-delay: 7s;
        }

        .typewriter4 p {
          overflow: hidden;
          /* Ensures the content is not revealed until the animation */
          border-right: 2px solid transparent;
          white-space: nowrap;
          margin: 0 auto;
          font-size: 180%;
          text-align: center;
          letter-spacing: 0;
          padding-left: 10px;
          opacity: 0;
          animation: typing 3.5s steps(44, end), blink-caret .75s step-end infinite, slidein 1s ease 3.5s forwards;
          animation-delay: 10s;
        }
      
      
      
      /* The typing effect */
      
      @keyframes typing {
          from { width: 0 }
          to { width: 100% } 
        }
      
      @keyframes slidein {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
     /* The typewriter cursor effect */
     @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: rgba(255,255,255,.75)}
    }
  
    /* INTRO PAGE BUTTONS - PLAY OR DO NOT PLAY OPTIONS */  
    

.intro-buttons {
  margin-top: 5%;
 
  padding-top: 20%; 
}

    button.playGame , button.abortGame {
      position: relative;
       width: 42px; height: 42px;
      display: inline-block;
      justify-content: center; 
      border:0.1em solid rgba(255,255,255,.75);
      margin-left: 12.5%;
      width: 30%;
      border-radius:0.12em; /* round up button */
      text-decoration:none;
      font-family:'Anonymous Pro', monospace; 
      color:#acacac;
      text-align:center;
      transition: all 0.2s;
      }
      button.playGame:hover , button.abortGame:hover {
        color:#000000;
        background-color:#FFFFFF;
        cursor: pointer;
      }

      /* Button bounce animation */
      /* bounce effect learnt from https://fdossena.com/?p=html5cool/buttons/i.frag */
    
      .bounceAnim{
        animation:bouncy 3.5s infinite linear;
        position:relative;
        }
        @keyframes bouncy {
          0%{top:0em} /* begin bounce */
          40%{top:0em}
          43%{top:-0.9em}
          46%{top:0em} /* mid bounce */
          48%{top:-0.4em}
          50%{top:0em}
          100%{top:0em;} /* end bounce */
        }

        /* USER CHOOSES 'DO NOT PLAY' */

  .evilHal {
    width: 350px;
    height: 350px;
    border-radius: 50%; /* maybe change into triangle later or cube not sure */
    display: flex;
    margin-left: 40%;
    margin-top: 10%;
    box-shadow:
      inset 0 0 50px rgb(255, 255, 255),      /* inner white - keep for subtle foggy look*/
      inset 20px 0 80px rgb(255, 0, 17),   /* inner left  */
      inset -20px 0 80px rgb(135, 173, 255),  /* inner right  */
      inset 20px 0 300px rgb(255, 0, 89),  /* inner left  */
      inset -20px 0 300px rgb(117, 6, 244), /* inner right  */
      0 0 50px #fff,            /* outer white for nice glow */
      -10px 0 80px rgb(255, 0, 0),        /* outer left  */
      10px 0 80px rgb(212, 0, 255);         /* outer right  */
  }

  /* USER CHOOSES PLAY */
  .astronaut {
    display: flex;
    margin-left: 40%;
    margin-top: 15%;
    z-index: 10;
    animation:spaceBounce 3s infinite linear;
        position:relative;
        } /* Floating animation style for astronaut */
        @keyframes spaceBounce {
          0%{top:0em} /* begin bounce */
          20%{top:0em}
          40%{top:-0.5em}
          45%{top:-0.75em}
          50%{top:-1em}
          55%{top:-0.75em}
          60%{top:-0.5em}
          80%{top:0em}
          100%{top:0em}
           /* end bounce */
        }
    
  
/* SECTION 2 -- USER PLAY PAGE + USER INTERFACE ELEMENTS + ANIMATION  */
  /* USER INTERFACE ELEMENTS */

  /* DIALOGUE BOX */

  .dialogueBox {        
    position: absolute;
    display: flex;
    flex-direction: column;
    float: left;
    left: 10px;
    bottom: 30vh;
    background-color: rgb(53, 53, 53);
    width: 200px;
    border: 5px solid rgb(89, 89, 89);
    padding: 40px; /* keeps box nicely sized */
    margin: 20px;
    z-index: 20;
  
  }

  /* Setting Food/Sleep/Bored Icons on far Right with contained div style */

  .uiElements {           /* FIXME: Need to update position:absolute so display works on different @media screen sizes */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: -10px;
    bottom: 10vh;

  }

/* Icons for Sleep */
/* <div class="sleepBox"> */
.sleepBox {
  background: linear-gradient(360deg, #3F2B96 0%, #A8C0FF 100%);
  text-align: center;
  margin: 30px;
  border-radius: 50%;
  cursor: pointer;      /* attach event listener HERE */
  width: 200px;
  height: 200px;
  z-index: 25;
}

.sleepBox:hover {
  opacity: 95%;
  box-shadow: 0 0 15px whitesmoke;
}

/* Icons for Food */
/* <div class="foodBox"> */

.foodBox {
  background: linear-gradient(180deg, #d53369 0%, #daae51 100%);;
  margin: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;      /* attach event listener HERE */
  width: 200px;
  height: 200px;
  z-index: 25;
}

.foodBox:hover {
  opacity: 95%;
  box-shadow: 0 0 15px whitesmoke;
}

/* Icons for Boredom */
/* <div class="boredomBox"> */
.boredomBox {
  background: linear-gradient(360deg, #FC466B 0%, #3F5EFB 100%);
  margin: 30px;
  cursor: pointer;      /* attach event listener HERE */
  text-align: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  z-index: 25;
}

.boredomBox:hover {
  opacity: 95%;
  box-shadow: 0 0 15px whitesmoke;
}
  

/* MINOR USER INTERFACE ELEMENTS // AGE BAR */

.ageBar {             /* FIXME: Need to fix absolute positioning. looks horrible */
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  bottom: 0px;
  left: 40%;
  right: auto;
  background-color: rgba(53,53,53,1);
  width: 200px;
  border: 5px solid rgb(89, 89, 89);
  padding: 40px; /* keeps box nicely sized */
  margin: 20px;
  z-index: 25;

}

/* fix background color with gradients*/ /* NOTE: Unimportant now -- change after MVP */

/* .btn-grad {background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 } 
  .btn-grad:hover {
   background-position: right center; /* change the direction of the change here 
   color: #fff;
   text-decoration: none;
 } */


