/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


/* COLOR PALETTE */
/* rgba(255,255,255,.75) Grey */
/*  rgb(25,25,25) Dark Grey */



/* SECTION 1 -- INTRO PAGE + ANIMATION */
/* Debut of Narrative - AI greets user story point. */
/* Animation Code help from Stackoverflow https://stackoverflow.com/questions/57982722/make-blinking-cursor-disappear-at-end-of-css-animation */



/* Global */
html{
    min-height: 100%;
    overflow: hidden;
  }
  body{
    min-height: 100%;
   /*  height: calc(100vh - 8em); */
    padding: 4em;
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;  
    background-color: rgb(25,25,25);  
    /* OVERFLOW X HIDDEN SO I CAN TRANSLATE OFF PAGE */
    overflow-x: hidden;
  }

  /* SEPARATE BODY CSS FOR GAME PLAY */

/* #gameSoundtrack {
  audio: :-webkit-media-controls-play-button{
    background-color:green;}
} */
  .gameMusic {      /* FIXME: Later version build custom player */
    /* TODO: Move player bottom right */
    display: none;
  }

  /* Element Styles */

  .typewriter1 p {
      overflow: hidden;
      border-right: 2px solid transparent;
      white-space: nowrap;
      margin: 0 auto;
      font-size: 180%;
      text-align: center;
      letter-spacing: 0;
      z-index: 10;
      padding-left: 10px;
      animation: typing 3.5s steps(44, end), blink-caret .75s step-end 4.1;
      }
      
      .typewriter2 p {
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: 2px solid transparent;
        white-space: nowrap;
        margin: 0 auto;
        font-size: 180%;
        text-align: center;
        letter-spacing: 0;
        padding-left: 10px;
        z-index: 10;
        opacity: 0;
        animation: typing 3.5s steps(44, end), blink-caret .75s step-end 4.1, slidein 1s ease 3.5s forwards;
        animation-delay: 2s;
      }
      .typewriter3 p {
          overflow: hidden;
          /* Ensures the content is not revealed until the animation */
          border-right: 2px solid transparent;
          white-space: nowrap;
          margin: 0 auto;
          font-size: 180%;
          text-align: center;
          letter-spacing: 0;
          padding-left: 10px;
          z-index: 10;
          opacity: 0;
          animation: typing 3.5s steps(44, end), blink-caret .75s step-end /* add infinite for continuous blinking animation */, slidein 1s ease 3.5s forwards;
          animation-delay: 7s;
        }

        .typewriter4 p {
          overflow: hidden;
          /* Ensures the content is not revealed until the animation */
          border-right: 2px solid transparent;
          white-space: nowrap;
          margin: 0 auto;
          font-size: 180%;
          text-align: center;
          letter-spacing: 0;
          padding-left: 10px;
          z-index: 10;
          opacity: 0;
          animation: typing 3.5s steps(44, end), blink-caret .75s step-end infinite, slidein 1s ease 3.5s forwards;
          animation-delay: 10s;
        }
      
      
      
      /* The typing effect */
      
      @keyframes typing {
          from { width: 0 }
          to { width: 100% } 
        }
      
      @keyframes slidein {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
     /* The typewriter cursor effect */
     @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: rgba(255,255,255,.75)}
    }
  
    /* INTRO PAGE BUTTONS - PLAY OR DO NOT PLAY OPTIONS */  
    

.intro-buttons {
  margin-top: 5%;
 
  padding-top: 20%; 
}

    button.playGame , button.abortGame , button.retryGame {
      position: relative;
       width: 42px; height: 42px;
      display: inline-block;
      justify-content: center; 
      border:0.1em solid rgba(255,255,255,.75);
      margin-left: 12.5%;
      width: 30%;
      border-radius:0.12em; /* round up button */
      text-decoration:none;
      font-family:'Anonymous Pro', monospace; 
      color:#acacac;
      text-align:center;
      transition: all 0.2s;
      }
      button.playGame:hover , button.abortGame:hover , button.retryGame:hover {
        color:#000000;
        background-color:#FFFFFF;
        cursor: pointer;
      }

      button.retryGame {
        margin-left: 0;
      }

      /* Button bounce animation */
      /* bounce effect learnt from https://fdossena.com/?p=html5cool/buttons/i.frag */
    
      .bounceAnim{
        animation:bouncy 3.5s infinite linear;
        position:relative;
        }
        @keyframes bouncy {
          0%{top:0em} /* begin bounce */
          40%{top:0em}
          43%{top:-0.9em}
          46%{top:0em} /* mid bounce */
          48%{top:-0.4em}
          50%{top:0em}
          100%{top:0em;} /* end bounce */
        }

        /* USER CHOOSES 'DO NOT PLAY' */

  .evilHal {
    width: 350px;
    height: 350px;
    border-radius: 38%; /* maybe change into triangle later or cube not sure */
    display: flex;
    margin-left: 40%;
    margin-top: 10%;
    animation: rotation 8s infinite linear;
    box-shadow:
      inset 0 0 50px rgb(255, 255, 255),      /* inner white - keep for subtle foggy look*/
      inset 20px 0 80px rgb(255, 0, 17),   /* inner left  */
      inset -20px 0 80px rgb(5, 39, 113),  /* inner right  */
      inset 20px 0 300px rgb(255, 0, 89),  /* inner left  */
      inset -20px 0 300px rgb(244, 6, 129), /* inner right  */
      0 0 50px #fff,            /* outer white for nice glow */
      -10px 0 80px rgb(255, 0, 0),        /* outer left  */
      10px 0 80px rgb(212, 0, 255);         /* outer right  */
  }

  /* USER CHOOSES PLAY */


  /* BACKGROUND IMAGE */
 

  /* MAIN ASTRONAUT CHARACTER VISUALS + ANIMATION */
  .astronaut {
    display: flex;
    margin-top: 10%;
    z-index: 10;
    justify-content: center;
    
    animation:spaceBounce 3s infinite linear;
        position:relative;
        } /* Floating animation style for astronaut */
        @keyframes spaceBounce {
          0%{top:0em} /* begin bounce */
          20%{top:0em}
          40%{top:-0.5em}
          45%{top:-0.75em}
          50%{top:-1em}
          55%{top:-0.75em}
          60%{top:-0.5em}
          80%{top:0em}
          100%{top:0em}
           /* end bounce */
        }


        /* Astronaut Boredom Click Event */
        .astronautFun {
          display: flex;
          justify-content: center ;
          top: 30%;
          z-index: 12;
          animation:spaceFunLeft 4s linear infinite;
          
              position:relative;
              } /* explore left animation style for astronaut */
              @keyframes spaceFunLeft {
                
                0%{left:0em} /* begin slide */
                20%{left:0em}
                40%{left:-0.5em}
                45%{left:-0.75em}
                50%{left:-1em}
                55%{left:-0.75em}
                60%{left:-0.5em}
                80%{left:0em}
                100%{left:0em}
                 /* end slide left */
                 /* flip and restart bounce with right side below */
              }
              

              /* Astronaut Sleep Click Event */
              .astronautSleep {
                display: flex;
                justify-content: center ;
                top: 30%;
                z-index: 14;
                animation:spaceBounce 3s infinite linear;
                    position:relative;
               }

               /* Astronaut Eat Click Event */
               .astronautEating {
                display: flex;
                justify-content: center ;
                top: 30%;
                z-index: 16;
                animation:spaceBounce 3s infinite linear;
                    position:relative;
               }

               /* Astronaut Evolved Event */

               .astronautEvolution1 {
                display: flex;
                margin-top: 10%;
                z-index: 18;
                justify-content: center;
                
                animation:spaceBounce 3s infinite linear;
                    position:relative;
                    } /* Floating animation style for astronaut */
                    @keyframes spaceBounce {
                      0%{top:0em} /* begin bounce */
                      20%{top:0em}
                      40%{top:-0.5em}
                      45%{top:-0.75em}
                      50%{top:-1em}
                      55%{top:-0.75em}
                      60%{top:-0.5em}
                      80%{top:0em}
                      100%{top:0em}
                       /* end bounce */
                    };

                    .astronautEvolvedEating , .astronautEvolvedSightseeing , .astronautEvolvedSleeping {
                      display: flex;
                      justify-content: center ;
                      top: 30%;
                      z-index: 14;
                      animation:spaceBounce 3s infinite linear;
                          position:relative;
                     }
            
    
  
/* SECTION 2 -- USER PLAY PAGE + USER INTERFACE ELEMENTS + ANIMATION  */
  /* USER INTERFACE ELEMENTS */

  /* DIALOGUE BOX */

  .dialogueBox {        
    position: absolute;
    display: flex;
    flex-direction: column;
    float: left;
    left: 10px;
    top: 15px;
    margin-top: 10%;
    margin-bottom: 30%;
    background-color: rgb(53, 53, 53);
    width: 200px;
    border: 5px solid rgb(89, 89, 89);
    padding: 40px; /* keeps box nicely sized */
    margin: 20px;
    z-index: 20;
  
  }

  /* GAMEPLAY HAL VISUALS // CSS ANIMATION */

  
  .gameplayHal {
    width: 150px;
    height: 150px;
    border-radius: 38%; 
    display: flex;
    top: 15px;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 15%;
    animation: rotation 8s infinite linear;

    box-shadow:
    inset 0 0 50px rgb(208, 208, 208),      /* inner white - keep for subtle foggy look*/
    inset 20px 0 80px rgb(255, 0, 17),   /* inner left  */
    inset -20px 0 80px rgb(247, 107, 207),  /* inner right  */
    inset 20px 0 300px rgb(195, 138, 249),  /* inner left  */
    inset -20px 0 300px rgb(244, 6, 129), /* inner right  */
    0 0 50px rgb(177, 177, 177),            /* outer white for nice glow */
    -10px 0 80px rgba(255, 0, 195, 0.701),        /* outer left  */
    10px 0 80px rgb(111, 0, 255);         /* outer right  */     
      
    }
      
      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  /* Setting Food/Sleep/Bored Icons on far Right with contained div style */

  .uiElements {           /* FIXME: Need to update position:absolute so display works on different @media screen sizes */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: -10px;
    bottom: 10vh;

  }

/* Icons for Sleep */
/* <div class="sleepBox"> */
.sleepBox {
  text-align: center;
  margin: 30px;
  border-radius: 50%;
  cursor: pointer;      
  width: 200px;
  height: 200px;
  z-index: 25;
  opacity: 80%;
  box-shadow:
    inset 0 0 50px rgb(108, 108, 108),      /* inner white - keep for subtle foggy look*/
    inset 20px 0 80px rgb(0, 229, 255),   /* inner left  */
    inset -20px 0 80px rgb(247, 107, 207),  /* inner right  */
    inset 20px 0 300px rgb(195, 138, 249),  /* inner left  */
    inset -20px 0 300px rgb(6, 42, 244), /* inner right  */
    0 0 50px rgb(177, 177, 177),            /* outer white for nice glow */
    -10px 0 80px rgba(0, 38, 255, 0.345),        /* outer left  */
    10px 0 80px rgb(111, 0, 255);   /* outer right */
}

.sleepBox:hover {
  
  opacity: 100%;
}

/* Icons for Food */
/* <div class="foodBox"> */

.foodBox {
  background: linear-gradient(180deg, #d53369 0%, #daae51 100%);; /* FIXME: change colors smoother */
  margin: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;      
  width: 200px;
  height: 200px;
  z-index: 25;
  opacity: 80%;
  box-shadow:
    inset 0 0 50px rgb(109, 109, 109),      /* inner white - keep for subtle foggy look*/
    inset 20px 0 80px rgb(244, 159, 232),   /* inner left  */
    inset -20px 0 80px rgb(249, 70, 70),  /* inner right  */
    inset 20px 0 300px rgb(80, 174, 176),  /* inner left  */
    inset -20px 0 300px rgb(196, 98, 140), /* inner right  */
    0 0 50px rgb(96, 96, 96),            /* outer white for nice glow */
    -10px 0 40px rgb(255, 111, 0),        /* outer left  */
    10px 0 40px rgba(255, 0, 0, 0.728);   /* outer right */
  
}

.foodBox:hover {
  opacity: 100%;
}

/* Icons for Boredom */
/* <div class="boredomBox"> */
.boredomBox {
  background: linear-gradient(360deg, #FC466B 0%, #3F5EFB 100%); /* FIXME: change colors smoother */
  margin: 30px;
  cursor: pointer;      
  text-align: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  z-index: 25;
  opacity: 80%;
  box-shadow:
    inset 0 0 50px rgb(109, 109, 109),      /* inner white - keep for subtle foggy look*/
    inset 20px 0 80px rgb(0, 255, 34),   /* inner left  */
    inset -20px 0 80px rgb(249, 70, 198),  /* inner right  */
    inset 20px 0 300px rgb(106, 189, 154),  /* inner left  */
    inset -20px 0 300px rgb(196, 98, 140), /* inner right  */
    0 0 50px rgb(96, 96, 96),            /* outer white for nice glow */
    -10px 0 40px rgb(149, 255, 0),        /* outer left  */
    10px 0 40px rgba(98, 255, 0, 0.345);   /* outer right */
}

.boredomBox:hover {
  opacity: 100%;
}
  

/* MINOR USER INTERFACE ELEMENTS // AGE BAR */

.ageBar {             /* FIXME: Need to fix absolute positioning. looks horrible */
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  bottom: 0px;
  left: 40%;
  right: auto;
  background-color: rgba(53,53,53,1);
  width: 200px;
  border: 5px solid rgb(89, 89, 89);
  padding: 40px; /* keeps box nicely sized */
  margin: 20px;
  z-index: 25;

}


/* END GAME TYPE WRITER ANIMATION */

.partThree {
  z-index: 50;
  display:none;
  
}

.endTypewriter1 p {
  overflow: hidden;
  border-right: 2px solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 180%;
  text-align: center;
  letter-spacing: 0;
  padding-left: 10px;
  animation: typing 3.5s steps(44, end), blink-caret .75s step-end 4.1;
  animation-delay: 4s;
  }
  
  .endTypewriter2 p {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 2px solid transparent;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 180%;
    text-align: center;
    letter-spacing: 0;
    padding-left: 10px;
    opacity: 0;
    animation: typing 3.5s steps(44, end), blink-caret .75s step-end 4.1, slidein 1s ease 3.5s forwards;
    animation-delay: 6s;
  }
  .endTypewriter3 p {
      overflow: hidden;
      /* Ensures the content is not revealed until the animation */
      border-right: 2px solid transparent;
      white-space: nowrap;
      margin: 0 auto;
      font-size: 180%;
      text-align: center;
      letter-spacing: 0;
      padding-left: 10px;
      opacity: 0;
      animation: typing 3.5s steps(44, end), blink-caret .75s step-end /* add infinite for continuous blinking animation */, slidein 1s ease 3.5s forwards;
      animation-delay: 9s;
    }

    .goodbyeHal {
      width: 350px;
      height: 350px;
      border-radius: 38%; /* maybe change into triangle later or cube not sure */
      display: flex;
      margin-left: 40%;
      margin-top: 10%;
      animation: rotation 8s infinite linear;

      box-shadow:
        inset 0 0 50px rgb(255, 255, 255),      /* inner white - keep for subtle foggy look*/
        inset 20px 0 80px rgb(44, 44, 177),   /* inner left  */
        inset -20px 0 80px rgb(177, 177, 177),  /* inner right  */
        inset 20px 0 300px rgb(252, 90, 147),  /* inner left  */
        inset -20px 0 300px rgb(244, 6, 6), /* inner right  */
        0 0 50px #fff,            /* outer white for nice glow */
        -10px 0 80px rgba(0, 229, 255, 0.995),        /* outer left  */
        10px 0 80px rgb(212, 0, 255);         /* outer right  */
        
      }
        
        @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }

    /* OUTRO BUTTONS */

    .outro-buttons {
  margin-top: 5%;
  padding-top: 1%;
  margin-right: -5%;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
    }

    
